@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;700&display=swap");
body {
  font-family: "Rubik", sans-serif;
  background-color: #111;
  padding: 0.6rem 1.6rem;
}

@media (min-width: 600px) {
  body {
    padding: 1.4rem 5rem;
  }
}
@media (min-width: 900px) {
  body {
    padding: 1.6rem 8rem;
  }
}
@media (min-width: 1200px) {
  body {
    padding: 1.8rem 12rem;
  }
}
.post-container {
  background-color: #1e1e1e;
  color: #fff;
  display: block;
  margin: auto;
  height: 100%;
  width: 100%;
  border-radius: 0.8rem;
}
.post-container > .cover {
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 0;
  padding-top: 66.64%;
  border-radius: 0.8rem 0.8rem 0 0;
}
.post-container > .cover > .bottom-shadow {
  position: relative;
  width: 100%;
  height: 15rem;
  bottom: 15rem;
  background: linear-gradient(0deg, #1e1e1e 0%, rgba(0, 0, 0, 0) 100%);
}
.post-container > .content {
  padding: 1rem;
}
.post-container > .content > address {
  margin-bottom: 2em;
  border-bottom: 1px solid;
  padding-bottom: 0.2em;
}
.post-container > .content > address > a, .post-container > .content > address time {
  font-size: 15px;
  line-height: 18px;
  color: #79828b;
  margin: 0;
  font-style: normal;
}
.post-container > .content > address > time {
  padding: 0;
}
.post-container > .content > address > time::before {
  content: "•";
  padding: 0 6px 0 0;
}

h1 {
  font-weight: 700;
  font-style: normal;
  font-size: 2.5em;
  margin: 1em 0 0.2em;
  line-height: 34px;
}

h4 {
  font-weight: 700;
  font-style: normal;
  font-size: 1.8em;
  margin-bottom: 0;
}
